<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Home</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Stefan Nestorov", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <div id="nav">
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div >
                    <p>&copy; @DateTime.Now.Year - Made with ASP.NET MVC by Stefan Nestorov</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery-2.0.3.js"></script>
        <script src="~/Scripts/jquery.animate-colors.js"></script>
        <script src="~/Scripts/jquery.color-2.1.2.js"></script>
        <script src="~/Scripts/jquery.color.svg-names-2.1.2.js"></script>
        <script src="~/Scripts/MyScript.js"></script>
    </body>
</html>
